# Site configuration
# 1. Files excluded from Jekyll builds
# 2. Installed Gems
# 3. Gem settings
# 4. Jekyll settings
# 5. Collections
# 6. Jekyll collections settings
# 7. Site settings
# 8. Site favicons & manifest icons
# 9. Site navigation

# 1. Files excluded from Jekyll builds
exclude:
- README.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- screenshot.png
- LICENSE
- CNAME
- Gemfile
- Gemfile.lock
- alembic-jekyll-theme.gemspec
- .jekyll-cache

# 2. Installed Gems
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-default-layout
- jekyll-commonmark
- jekyll-include-cache
- jemoji

remote_theme: daviddarnes/alembic@3.1.0

# 3. Gem settings
# @username automatically turns into a link thanks to the jekyll-mentions
# plugin.
jekyll-mentions: https://github.com
twitter:
  username: JuMPjl # jekyll-seo-tag > Owners twitter username
author: JuMPjl # jekyll-seo-tag > default author (twitter account)
# TODO: JuMPjl is described as a "Person" in the seo tag, unclear how to fix.
# type: Organization

#social: # jekyll-seo-tag > social overrides
#  name: David Darnes # jekyll-seo-tag > real name
#  links:  # jekyll-seo-tag > social aliases (sameAs)
#    - https://twitter.com/DavidDarnes
#    - https://www.facebook.com/daviddarnes
#    - https://www.linkedin.com/in/daviddarnes
#    - https://github.com/daviddarnes
# markdown: CommonMark # Markdown parse settings, CommonMark performs slightly better an others in build time
# commonmark:
  # options: ["SMART", "FOOTNOTES"]
  # extensions: ["strikethrough", "autolink", "table"]

# 4. Jekyll settings
sass:
  style: compressed # Style compression
permalink: pretty  # Permalink style (/YYYY/MM/DD/page-name/)
excerpt_separator: <!-- more --> # Marks end of excerpt in posts
timezone: America/New_York # Timezone for blog posts and alike

# 5. Collections
collections:
  posts:
    title: Posts # Needed for Siteleaf
    output: true
    description: "JuMP News" # The post list page content

# 6. Jekyll collections settings
#defaults:
#  -
#    scope:
#      path: ""
#    values:
#      image: "/assets/default-social-image.png" # Default image for sharing

# 7. Site settings
encoding: utf-8 # Make sure the encoding is right
lang: en-US # Set the site language
title: "JuMP" # Site name or title, also used in jekyll-seo-tag
logo: "/assets/jump-logo-with-text.svg" # Site logo, also used in jekyll-seo-tag
description: "JuMP is a modeling language and supporting packages for mathematical optimization in Julia." # Site description and default description, also used in jekyll-seo-tag
url: "https://jump.dev" # Site url, also used in jekyll-seo-tag
baseurl: ""
#repo: "https://github.com/daviddarnes/alembic"
#email: "me@daviddarnes.com"
# disqus: "alembic-1" # Blog post comments, uncomment the option and set the site ID from your Disqus account
google_analytics: 'UA-44252521-7'
# google_analytics_anonymize_ip: ''
service_worker: false # Will turn off the service worker if set to false
css_inline: false # Will insert all styles into a single <style> block in the <head> element and remove the style <link> reference

# TODO
# 8. Site favicons & manifest icons
#favicons: # Favicons are also used in the manifest file. Syntax is 'size: path'
#  16: '/assets/logos/logo@16px.png'
#  32: '/assets/logos/logo@32px.png'
#  96: '/assets/logos/logo@96px.png'
#  120: '/assets/logos/logo@120px.png'
#  144: '/assets/logos/logo@144px.png'
#  180: '/assets/logos/logo@180px.png'
#  512: '/assets/logos/logo@512px.png'
#  1024: '/assets/logos/logo@1024px.png'

# 9. Site navigation
navigation_header:
- title: Home
  url: /
- title: Code
  url: /pages/code/
- title: Documentation
  url: https://www.juliaopt.org/JuMP.jl/stable/
- title: JuMP-dev Workshops
  items:
   - title: 2020
     url: /meetings/louvain2020
   - title: 2019
     url: /meetings/santiago2019
   - title: 2018
     url: /meetings/bordeaux2018
   - title: 2017
     url: /meetings/mit2017
- title: Forum
  url: https://discourse.julialang.org/c/domain/opt
- title: News
  url: /pages/news/

# TODO
navigation_footer:
- title: Created using the Alembic theme
  url: https://github.com/daviddarnes/alembic

# TODO
# social_links: # Appears in sidebar. Set the urls then uncomment and comment out as desired
#  Twitter: https://twitter.com/DavidDarnes
#  LinkedIn: https://www.linkedin.com/in/daviddarnes
#  GitHub: https://github.com/daviddarnes
#  link: https://darn.es

sharing_links: # Appear at the bottom of single blog posts, add as desired. The value can be 'true' or the desired button colour
  Twitter: "#0d94e7"
  facebook: "#3B5998"
  Email: true

# Site header notification content
notification: |
  [JuMP-dev 2020 registration delayed due to COVID-19](/meetings/louvain2020).
