<table>
<tr>
  <th></th>
  <th><b>Sunday 31 (Prestonfield)</b></th>
  <th><b>Monday 1 (Prestonfield)</b></th>
  <th><b> Monday 1 (Holyrood)</b></th>
</tr>
<tr>
  <td class="talk-table">08:30&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Coffee</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Coffee</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Coffee</div></td>
</tr>
<tr>
  <td class="talk-table">09:00&nbsp;</td>
  <td class="talk-table talk-organization"></td>
  <td class="talk-table talk-organization"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">09:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Introduction and welcome</div><div class="talk-speaker">Oscar Dowson</div></td>
  <td class="talk-table talk-organization"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">09:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">ElectricityEmissions.jl: Calculating carbon intensity signals on the power grid</div><div class="talk-speaker">Noah Rhodes</div>[<a href="/assets/jump-dev-workshops/2026/slides_noah.pdf">slides</a>][<a href="https://youtu.be/fmvyd0OoKWw">video</a>]</td>
  <td class="talk-table"><div class="talk-title">DiffOpt.jl: Differentiable optimization for JuMP</div><div class="talk-speaker">Joaquim Dias Garcia</div>[<a href="https://youtu.be/HnFFdVB94js">video</a>]</td>
  <td class="talk-table"><div class="talk-title">What's new in HiGHS</div><div class="talk-speaker">Julian Hall</div></td>
</tr>
<tr>
  <td class="talk-table">09:45&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Optimal Planning for Steel Industry Decarbonization: A Mixed-Integer Linear Programming Approach in Julia</div><div class="talk-speaker">Vinícius Justen Pinto</div>[<a href="/assets/jump-dev-workshops/2026/slides_vinicius.pdf">slides</a>][<a href="https://youtu.be/tq_I3iNWW88">video</a>]</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">10:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Optimize Your Fleet with Odoo and JuMP</div><div class="talk-speaker">Benoît Legat</div>[<a href="https://youtu.be/hxph7NR6JeM">video</a>]</td>
  <td class="talk-table"><div class="talk-title">DisjunctiveProgramming.jl’s New Suite of Solution Methods</div><div class="talk-speaker">Daniel Nguyen</div>[<a href="/assets/jump-dev-workshops/2026/slides_daniel.pdf">slides</a>][<a href="https://youtu.be/vYXdQUb9Fbc">video</a>]</td>
  <td class="talk-table"><div class="talk-title">HiPDLP: A PDLP solver for HiGHS</div><div class="talk-speaker">Yanyu Zhou</div></td>
</tr>
<tr>
  <td class="talk-table">10:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">DuckDB as backend to build optimization models in JuMP.jl</div><div class="talk-speaker">Abel Siqueira</div>[<a href="/assets/jump-dev-workshops/2026/slides_abel.pdf">slides</a>][<a href="https://youtu.be/8mmYRna_c-U">video</a>]</td>
  <td class="talk-table"><div class="talk-title">DisjunctiveNet.jl: Neural Symbolic Learning via Differentiable Convexified Optimization Layers</div><div class="talk-speaker">Can Li</div>[<a href="/assets/jump-dev-workshops/2026/slides_can.pdf">slides</a>][<a href="https://youtu.be/z-4ROIzWrPY">video</a>]</td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">10:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Morning tea</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Morning tea</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Morning tea</div></td>
</tr>
<tr>
  <td class="talk-table">10:45&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">11:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">UnoSolver.jl, a unified SQP/barrier solver for nonlinearly constrained optimization</div><div class="talk-speaker">Charlie Vanaret</div>[<a href="/assets/jump-dev-workshops/2026/slides_charlie.pdf">slides</a>][<a href="https://youtu.be/hDPCVBQm8TE">video</a>]</td>
  <td class="talk-table"><div class="talk-title">Encoding Matters when Embedding NNs in Optimization Problems</div><div class="talk-speaker">Chelsea Sidrane</div></td>
  <td class="talk-table"><div class="talk-title">Tallarium</div><div class="talk-speaker">Lucas Biton</div></td>
</tr>
<tr>
  <td class="talk-table">11:15&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"><div class="talk-title">InfiniteMathOptAI.jl: Embedding Surrogates for Infinite-Dimensional Optimization</div><div class="talk-speaker">Joshua Pulsipher</div>[<a href="/assets/jump-dev-workshops/2026/slides_josh.pdf">slides</a>][<a href="https://youtu.be/YPVmHQl1qws">video</a>]</td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">11:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Reduced-space nonlinear optimization via the implicit function theorem</div><div class="talk-speaker">Robert Parker</div>[<a href="https://youtu.be/lz4Xj_V47nM">video</a>]</td>
  <td class="talk-table"><div class="talk-title">Optimization Problem Surrogates with Graph Transformer Networks and integration within simulation workflows</div><div class="talk-speaker">Jose Daniel Lara</div></td>
  <td class="talk-table"><div class="talk-title">Prescriptive Analytics ought to be in the database</div><div class="talk-speaker">Soren Little</div></td>
</tr>
<tr>
  <td class="talk-table">11:45&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">12:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Batched optimization solvers: a tour d'horizon</div><div class="talk-speaker">François Pacaud</div>[<a href="https://youtu.be/dU0-UpvWK6Q">video</a>]</td>
  <td class="talk-table"><div class="talk-title">Toward Extending EAGO.jl for Exploiting GPU Parallelism</div><div class="talk-speaker">Dimitri Alston</div>[<a href="https://youtu.be/xXW7xn2vp-U">video</a>]</td>
  <td class="talk-table"><div class="talk-title">Optimisation Problems at Edinburgh Airport</div><div class="talk-speaker">Ivona Gjeroska and Bárbara Cotrim Rodrigues</div></td>
</tr>
<tr>
  <td class="talk-table">12:15&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">12:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch (provided on-site)</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch (provided on-site)</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch (provided on-site)</div></td>
</tr>
<tr>
  <td class="talk-table">14:00&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table"><div class="talk-title">Second-Order GPU solver for Burer-Monteiro</div><div class="talk-speaker">Benoît Legat</div>[<a href="https://youtu.be/mk1NDX2wMNY">video</a>]</td>
  <td class="talk-table"><div class="talk-title">Open Energy Benchmark: 2025 results, HiPO performance, and call for benchmarks</div><div class="talk-speaker">Daniele Lerede</div></td>
</tr>
<tr>
  <td class="talk-table">14:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Antipode JuMPing - How Norwegian authorities can use JADE.jl for better decision making</div><div class="talk-speaker">Jarand Hole</div>[<a href="https://youtu.be/dGgAxpKQoQ4">video</a>]</td>
  <td class="talk-table"><div class="talk-title">GraphsOfConvexSets.jl: Optimisation over Graphs of Convex Sets with JuMP</div><div class="talk-speaker">Charles van Hees</div>[<a href="/assets/jump-dev-workshops/2026/slides_charles.pdf">slides</a>][<a href="https://youtu.be/rKaM6qjoobU">video</a>]</td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">14:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Automatic Decomposition of JuMP Models using TimeStructDecomposition.jl</div><div class="talk-speaker">Truls Flatberg</div>[<a href="/assets/jump-dev-workshops/2026/slides_truls.pdf">slides</a>][<a href="https://youtu.be/hcOkx8W9C1k">video</a>]</td>
  <td class="talk-table"><div class="talk-title">First-order Convex (mixed-integer) optimization: FrankWolfe.jl and Boscia.jl</div><div class="talk-speaker">Deborah Hendrych</div>[<a href="/assets/jump-dev-workshops/2026/slides_deborah.pdf">slides</a>][<a href="https://youtu.be/aeCucIGKhzE">video</a>]</td>
  <td class="talk-table"><div class="talk-title">Recent developments and future plans for HiPO</div><div class="talk-speaker">Filippo Zanetti</div></td>
</tr>
<tr>
  <td class="talk-table">14:45&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Advanced Model Composition in ApplicationDrivenLearning.jl</div><div class="talk-speaker">Giovanni Amorim</div>[<a href="/assets/jump-dev-workshops/2026/slides_giovanni.pdf">slides</a>][<a href="https://youtu.be/pFW62ID4Nuw">video</a>]</td>
  <td class="talk-table"><div class="talk-title">TenSolver.jl: A tensor network based QUBO solver with JuMP integration</div><div class="talk-speaker">Iago Leal de Freitas</div>[<a href="/assets/jump-dev-workshops/2026/slides_iago.pdf">slides</a>][<a href="https://youtu.be/nvbv1NzMRMg">video</a>]</td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">15:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Modelling and Solving Mathematical Programs with Complementarity Constraints.</div><div class="talk-speaker">Anton Edvinovich Pozharskiy</div>[<a href="https://youtu.be/bPLfogxz6s4">video</a>]</td>
  <td class="talk-table"><div class="talk-title">PEPit.jl: Computer-Assisted Worst-Case Analysis of First-Order Optimization Algorithms in Julia</div><div class="talk-speaker">Shuvomoy Das Gupta</div>[<a href="/assets/jump-dev-workshops/2026/slides_shuvomoy.pdf">slides</a>][<a href="https://youtu.be/2vp65pXp5Xk">video</a>]</td>
  <td class="talk-table"><div class="talk-title">A parallel MIP solver for HiGHS!</div><div class="talk-speaker">Mark Turner</div></td>
</tr>
<tr>
  <td class="talk-table">15:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Adding array support for JuMP’s Automatic Differentiation</div><div class="talk-speaker">Sophie Lequeu</div>[<a href="/assets/jump-dev-workshops/2026/slides_sophie.pdf">slides</a>][<a href="https://youtu.be/1M0g0sTY0a0">video</a>]</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">15:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Afternoon tea</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Afternoon tea</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Afternoon tea</div></td>
</tr>
<tr>
  <td class="talk-table">15:45&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">16:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Can ExaModels Power JuMP on GPUs?</div><div class="talk-speaker">Sungho Shin</div>[<a href="https://youtu.be/67-_Xmgxf1c">video</a>]</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table"><div class="talk-title">Local heuristics for the HiGHS MIP solver</div><div class="talk-speaker">Ben Champion</div></td>
</tr>
<tr>
  <td class="talk-table">16:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">JuMP's macros: why are they needed?</div><div class="talk-speaker">Oscar Dowson</div>[<a href="/assets/jump-dev-workshops/2026/slides_oscar.pdf">slides</a>][<a href="">video</a>]</td>
  <td class="talk-table"><div class="talk-title">The 2026 JuMP-dev prize</div><div class="talk-speaker">The JuMP developers</div></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">16:30&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">16:45&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">17:00&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Dinner</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Workshop ends</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Workshop ends</div></td>
</tr>
</table>&nbsp;
