<table>
<tr>
  <th></th>
  <th><b>Friday 19th</b></th>
  <th><b>Saturday 20th</b></th>
  <th><b>Sunday 21st</b></th>
</tr>
<tr>
  <td class="talk-table">08:15&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Light breakfast</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Light breakfast</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">08:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title"></div></td>
  <td class="talk-table talk-break"><div class="talk-title"></div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">08:45&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Introduction and welcome</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Introduction and welcome</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">09:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">The state of JuMP</div><div class="talk-speaker">Miles Lubin</div>[<a href="/assets/jump-dev-workshops/2024/lubin.pdf">slides</a>][<a href="https://youtu.be/cMUTdfoAMpo">video</a>]</td>
  <td class="talk-table"><div class="talk-title">InfiniteExaModels.jl: Accelerating Infinite-Dimensional Optimization Problems on CPU & GPU</div><div class="talk-speaker">Joshua Pulsipher</div>[<a href="/assets/jump-dev-workshops/2024/pulsipher_exa.pdf">slides</a>][<a href="https://youtu.be/XBPTb_nbrUs">video</a>]</td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">09:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title"><br><br></div></td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">09:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Bridging ML and Optimization with JuMP</div><div class="talk-speaker">Andrew Rosemberg</div>[<a href="/assets/jump-dev-workshops/2024/rosemberg.pdf">slides</a>][<a href="https://youtu.be/JhgHKYvga2s">video</a>]</td>
  <td class="talk-table"><div class="talk-title">ModelPredictiveControl.jl: advanced process control made easy using JuMP</div><div class="talk-speaker">Francis Gagnon</div>[<a href="/assets/jump-dev-workshops/2024/gagnon.pdf">slides</a>][<a href="https://youtu.be/zzEC0BCCknI">video</a>]</td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">09:45&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Differentiating Parametric JuMP Models</div><div class="talk-speaker">Joaquim Dias Garcia</div>[<a href="https://youtu.be/UwZ9EM6lKl8">video</a>]</td>
  <td class="talk-table"><div class="talk-title">LinearDecisionRules.jl</div><div class="talk-speaker">Bernardo Freitas Paulo da Costa</div>[<a href="/assets/jump-dev-workshops/2024/bfpc_ldr.pdf">slides</a>][<a href="https://youtu.be/ERO6vyTOOoI">video</a>]</td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">10:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Time series modeling via JuMP</div><div class="talk-speaker">Davi Michel Valladão</div>[<a href="/assets/jump-dev-workshops/2024/valladao.pdf">slides</a>][<a href="https://youtu.be/RL6N4dZ5JDg">video</a>]</td>
  <td class="talk-table"><div class="talk-title"><b>Invited talk</b>: The Pyomo modeling language</div><div class="talk-speaker">Bethany Nicholson</div>[<a href="/assets/jump-dev-workshops/2024/nicholson.pdf">slides</a>][<a href="https://youtu.be/G1tW68vrOBM">video</a>]</td>
  <td class="talk-table talk-organization"><div class="talk-title">Hackathon. (No catering.)</div></td>
</tr>
<tr>
  <td class="talk-table">10:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">LoReSIO.jl: Using JuMP for Semi-Infinite Optimization</div><div class="talk-speaker">Jad Wehbeh</div>[<a href="/assets/jump-dev-workshops/2024/wehbeh.pdf">slides</a>][<a href="https://youtu.be/_wd08Gam8zg">video</a>]</td>
  <td class="talk-table"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">10:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Morning tea</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Morning tea</div></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">10:45&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Coffee and pastries provided.</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Coffee and pastries provided.</div></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">11:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Applied optimization with JuMP at SINTEF</div><div class="talk-speaker">Truls Flatberg</div>[<a href="/assets/jump-dev-workshops/2024/flatberg.pdf">slides</a>][<a href="https://youtu.be/-a9-ToFiT8E">video</a>]</td>
  <td class="talk-table"><div class="talk-title">Recent Advances in EAGO.jl and its Use With JuMP.jl</div><div class="talk-speaker">Dimitri Alston</div>[<a href="/assets/jump-dev-workshops/2024/alston.pdf">slides</a>][<a href="https://youtu.be/r9VAFkHlr1s">video</a>]</td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">11:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title"><br><br></div></td>
  <td class="talk-table"><div class="talk-title">Graph-based Decomposition Approaches through Plasmo.jl</div><div class="talk-speaker">David Cole</div>[<a href="/assets/jump-dev-workshops/2024/cole.pdf">slides</a>][<a href="https://youtu.be/k9LAOyXgvb8">video</a>]</td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">11:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Introduction of TulipaEnergyModel.jl</div><div class="talk-speaker">Ni Wang</div>[<a href="/assets/jump-dev-workshops/2024/wang.pdf">slides</a>][<a href="https://youtu.be/r4jqVzEck28">video</a>]</td>
  <td class="talk-table"><div class="talk-title">Why you should stop using the monomial basis</div><div class="talk-speaker">Benoît Legat</div>[<a href="/assets/jump-dev-workshops/2024/legat.html">slides</a>][<a href="https://youtu.be/CGPHaHxCG2w">video</a>]</td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">11:45&nbsp;</td>
  <td class="talk-table"><div class="talk-title">SpineOpt.jl: A highly adaptable modelling framework for multi-energy systems</div><div class="talk-speaker">Diego Tejada</div>[<a href="/assets/jump-dev-workshops/2024/tejada.pdf">slides</a>][<a href="https://youtu.be/_oJYwdKdW3E">video</a>]</td>
  <td class="talk-table"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">12:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Solving the Market-to-Market Problem in Large Scale Power Systems</div><div class="talk-speaker">Jose Daniel Lara</div>[<a href="/assets/jump-dev-workshops/2024/lara.pdf">slides</a>][<a href="https://youtu.be/N-jDHickaTc">video</a>]</td>
  <td class="talk-table"><div class="talk-title">The New DisjunctiveProgramming.jl</div><div class="talk-speaker">Joshua Pulsipher</div>[<a href="/assets/jump-dev-workshops/2024/pulsipher_gdp.pdf">slides</a>][<a href="https://youtu.be/TIJ_qpSHdm0">video</a>]</td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">12:15&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"><div class="talk-title">PiecewiseAffineApprox.jl</div><div class="talk-speaker">Lars Hellemo</div>[<a href="/assets/jump-dev-workshops/2024/hellemo.pdf">slides</a>][<a href="https://youtu.be/rm292x59Yjk">video</a>]</td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">12:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch</div></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">12:45&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">You are responsible for your own lunch. There is a cafeteria on-site, and a <a href="https://www.google.com/maps/search/Restaurants/@45.4996315,-73.6275257,15z?entry=ttu">number of restaurants</a> within walking distance.</div></td>
  <td class="talk-table talk-break"><div class="talk-title">You are responsible for your own lunch. There are a <a href="https://www.google.com/maps/search/Restaurants/@45.4996315,-73.6275257,15z?entry=ttu">number of restaurants</a> within walking distance. (The cafeteria is closed today).</div></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">13:00&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">13:15&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">13:30&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">13:45&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">14:00&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">14:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Minimization of partially-separable problems within JuliaSmoothOptimizers with the help of JuMP</div><div class="talk-speaker">Paul Raynaud</div>[<a href="https://youtu.be/rALl05UIae8">video</a>]</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">14:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Solving Difficult Reachability Problems in JuMP.jl</div><div class="talk-speaker">Chelsea Sidrane</div>[<a href="/assets/jump-dev-workshops/2024/sidrane.pdf">slides</a>][<a href="https://youtu.be/NpBteRtyFsc">video</a>]</td>
  <td class="talk-table"><div class="talk-title">QUBO.jl: A Julia ecosystem for Quadratic Unconstrained Binary Optimization</div><div class="talk-speaker">Pedro Maciel Xavier</div>[<a href="/assets/jump-dev-workshops/2024/xavier.pdf">slides</a>][<a href="https://youtu.be/GdhHccx1LsM">video</a>]</td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">14:45&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Solving Matching Problems in Practical Applications Using JuMP </div><div class="talk-speaker">Willem van Osselaer</div>[<a href="/assets/jump-dev-workshops/2024/osselaer.pdf">slides</a>][<a href="https://youtu.be/KeqCERdQx6o">video</a>]</td>
  <td class="talk-table"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">15:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Teaching Optimization: cvxpy, pyomo, JuMP</div><div class="talk-speaker">Bernardo Freitas Paulo da Costa</div>[<a href="/assets/jump-dev-workshops/2024/bfpc_teach.pdf">slides</a>][<a href="https://youtu.be/jEyCJAqkrZ8">video</a>]</td>
  <td class="talk-table"><div class="talk-title">Hybrid Quantum Branch-and-Bound Method for Quadratic Unconstrained Binary Optimization</div><div class="talk-speaker">David E. Bernal</div>[<a href="/assets/jump-dev-workshops/2024/bernal.pdf">slides</a>][<a href="https://youtu.be/A5XrAmJ24YA">video</a>]</td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">15:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Optimal deployment of genetic biocontrol under environmental uncertainty</div><div class="talk-speaker">Valeri Vasquez</div>[<a href="https://youtu.be/jyRbfTJK5AY">video</a>]</td>
  <td class="talk-table"><div class="talk-title">libHSL: the ultimate collection for large-scale scientific computation</div><div class="talk-speaker">Alexis Montoison</div>[<a href="/assets/jump-dev-workshops/2024/montoison.pdf">slides</a>][<a href="https://youtu.be/V0k5mR43khs">video</a>]</td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">15:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Convex Network Flows</div><div class="talk-speaker">Theo Diamandis</div>[<a href="/assets/jump-dev-workshops/2024/diamandis.pdf">slides</a>][<a href="https://youtu.be/GI-Lmpk_0VY">video</a>]</td>
  <td class="talk-table"><div class="talk-title">Recent Advances in Optimization Solvers within JuliaSmoothOptimizers</div><div class="talk-speaker">Tangi Migot</div>[<a href="/assets/jump-dev-workshops/2024/migot.pdf">slides</a>][<a href="https://youtu.be/2k011GiOeQc">video</a>]</td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">15:45&nbsp;</td>
  <td class="talk-table"><div class="talk-title"><br><br></div></td>
  <td class="talk-table"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">16:00&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Wrap up</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Wrap up and thanks</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Wrap up and thanks</div></td>
</tr>
</table>&nbsp;
