<table>
<tr>
  <th></th>
  <th><b>Sunday 31</b></th>
  <th><b>Monday 1</b></th>
</tr>
<tr>
  <td class="talk-table">09:00&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Coffee</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Coffee</div></td>
</tr>
<tr>
  <td class="talk-table">09:30&nbsp;</td>
  <td class="talk-table talk-organization"></td>
  <td class="talk-table"><div class="talk-title">Talks</div></td>
</tr>
<tr>
  <td class="talk-table">10:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Introduction and welcome</div><div class="talk-speaker">Oscar Dowson</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">10:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Talks</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">11:00&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">11:30&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">12:00&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch</div></td>
</tr>
<tr>
  <td class="talk-table">12:30&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">13:00&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">13:30&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">14:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Talks</div></td>
  <td class="talk-table"><div class="talk-title">Talks</div></td>
</tr>
<tr>
  <td class="talk-table">14:30&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">15:00&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">15:30&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">16:00&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">16:30&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table talk-organization"><div class="talk-title">Wrap up and thanks</div></td>
</tr>
<tr>
  <td class="talk-table">17:00&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Dinner</div></td>
  <td class="talk-table talk-organization"></td>
</tr>
</table>&nbsp;
