<table>
<tr>
  <th></th>
  <th><b>Monday 17</b></th>
  <th><b>Tuesday 18</b></th>
</tr>
<tr>
  <td class="talk-table">09:30&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Coffee and registration</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Coffee</div></td>
</tr>
<tr>
  <td class="talk-table">09:45&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Introduction and welcome</div><div class="talk-speaker">Oscar Dowson</div></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">10:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">The state of JuMP</div><div class="talk-speaker">Miles Lubin</div></td>
  <td class="talk-table"><div class="talk-title">Optimizing over trained neural networks with MathOptAI.jl</div><div class="talk-speaker">Robby Parker</div></td>
</tr>
<tr>
  <td class="talk-table">10:15&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">10:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">JuMP on demand: Creating your own compute cluster for solving optimisation problems</div><div class="talk-speaker">James Foster</div></td>
  <td class="talk-table"><div class="talk-title">ApplicationDrivenLearning.jl a framework to train forecast models with application-driven cost functions</div><div class="talk-speaker">Joaquim Dias Garcia</div></td>
</tr>
<tr>
  <td class="talk-table">10:45&nbsp;</td>
  <td class="talk-table"><div class="talk-title">AdaptiveProjection.jl: Automating the Speed-Accuracy Trade-off in Random Projection Methods</div><div class="talk-speaker">Jean-François Baffier</div></td>
  <td class="talk-table"><div class="talk-title">MadIPM.jl</div><div class="talk-speaker">Alexis Montoison</div></td>
</tr>
<tr>
  <td class="talk-table">11:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">What's new in HiGHS, and thanks to JuMP for its support!</div><div class="talk-speaker">Julian Hall</div></td>
  <td class="talk-table"><div class="talk-title">GPU Implementation of Algorithm NCL</div><div class="talk-speaker">Michael Saunders</div></td>
</tr>
<tr>
  <td class="talk-table">11:15&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">11:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Revisiting sparse matrix coloring and bicoloring</div><div class="talk-speaker">Alexis Montoison</div></td>
  <td class="talk-table"><div class="talk-title">CuClarabel: GPU Acceleration for a Conic Optimization Solver</div><div class="talk-speaker">Yuwen Chen</div></td>
</tr>
<tr>
  <td class="talk-table">11:45&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">12:00&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch</div></td>
</tr>
<tr>
  <td class="talk-table">12:15&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">12:30&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">12:45&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">13:00&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">13:15&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">13:30&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">13:45&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">14:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Automatic Generation of JuMP.jl Constraints from ModelingToolkit.jl Models</div><div class="talk-speaker">Dimitri Alston</div></td>
  <td class="talk-table"><div class="talk-title">Bridging the Gap Between Models and Solvers through Constraint Programming</div><div class="talk-speaker">Jean-François Baffier</div></td>
</tr>
<tr>
  <td class="talk-table">14:15&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">14:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Large Scale JuMP Models with Constraint Generators</div><div class="talk-speaker">Benoît Legat</div></td>
  <td class="talk-table"><div class="talk-title">Unlocking the Power of Google OR-Tools with MathOptInterface.jl</div><div class="talk-speaker">Thibaut Cuvelier</div></td>
</tr>
<tr>
  <td class="talk-table">14:45&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">15:00&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Break</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Break</div></td>
</tr>
<tr>
  <td class="talk-table">15:15&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">15:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">The State of InfiniteOpt.jl</div><div class="talk-speaker">Joshua Pulsipher</div></td>
  <td class="talk-table"><div class="talk-title">Open energy models: benchmarking, profiling and debugging tool for JuMP</div><div class="talk-speaker">Joaquim Dias Garcia</div></td>
</tr>
<tr>
  <td class="talk-table">15:45&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">16:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">MathOptInterface: a comprehensive overview</div><div class="talk-speaker">Oscar Dowson</div></td>
  <td class="talk-table"><div class="talk-title">TIMES2JuMP -  Learnings from IEA-ETSAP feasibility study of migrating the TIMES code to Julia JuMP.</div><div class="talk-speaker">James Glynn</div></td>
</tr>
<tr>
  <td class="talk-table">16:15&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"><div class="talk-title">Lessons from using JuMP in HARD software</div><div class="talk-speaker">Harley Mackenzie</div></td>
</tr>
<tr>
  <td class="talk-table">16:30&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"><div class="talk-title">The life and times of SDDP.jl</div><div class="talk-speaker">Oscar Dowson</div></td>
</tr>
<tr>
  <td class="talk-table">16:45&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">17:00&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Wrap up</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Wrap up and thanks</div></td>
</tr>
</table>&nbsp;
