<table>
<tr>
  <th></th>
  <th><b>Sunday 31 (JuMP)</b></th>
  <th><b>Monday 1 (JuMP)</b></th>
  <th><b>Monday 1 (HiGHS)</b></th>
</tr>
<tr>
  <td class="talk-table">08:30&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Coffee</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Coffee</div></td>
  <td class="talk-table talk-organization"><div class="talk-title">Coffee</div></td>
</tr>
<tr>
  <td class="talk-table">09:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Introduction and welcome</div><div class="talk-speaker">Oscar Dowson</div></td>
  <td class="talk-table"><div class="talk-title">DiffOpt: Now Nonlinear and Streamlined</div><div class="talk-speaker">Joaquim Dias Garcia</div></td>
  <td class="talk-table"><div class="talk-title">HiGHS Workshop</div></td>
</tr>
<tr>
  <td class="talk-table">09:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Calculating carbon intensity signals on the power grid</div><div class="talk-speaker">Noah Rhodes</div></td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">09:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">High Frequency Battery Optimization with JuMP</div><div class="talk-speaker">Mario Souto</div></td>
  <td class="talk-table"><div class="talk-title">DisjunctiveProgramming.jl’s New Suite of Solution Methods</div><div class="talk-speaker">Daniel Nguyen</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">09:45&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Optimal Planning for Steel Industry Decarbonization: A Mixed-Integer Linear Programming Approach in Julia</div><div class="talk-speaker">Vinícius Justen Pinto</div></td>
  <td class="talk-table"><div class="talk-title">Advanced Model Composition in ApplicationDrivenLearning.jl</div><div class="talk-speaker">Giovanni Amorim</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">10:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Optimize Your Fleet with Odoo and JuMP</div><div class="talk-speaker">Benoît Legat</div></td>
  <td class="talk-table"><div class="talk-title">DisjunctiveNet.jl: Neural Symbolic Learning via Differentiable Convexified Optimization Layers</div><div class="talk-speaker">Can Li</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">10:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">DuckDB as backend to build optimization models in JuMP.jl</div><div class="talk-speaker">Diego Tejada</div></td>
  <td class="talk-table"><div class="talk-title">Batched optimization solvers: a tour d'horizon</div><div class="talk-speaker">François Pacaud</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">10:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Morning tea</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Morning tea</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Morning tea</div></td>
</tr>
<tr>
  <td class="talk-table">10:45&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">11:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title"><b>Invited talk:</b> Linopy</div><div class="talk-speaker">Fabian Hofmann</div></td>
  <td class="talk-table"><div class="talk-title">Encoding Matters when Embedding NNs in Optimization Problems</div><div class="talk-speaker">Chelsea Sidrane</div></td>
  <td class="talk-table"><div class="talk-title">HiGHS Workshop</div></td>
</tr>
<tr>
  <td class="talk-table">11:15&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"><div class="talk-title">InfiniteMathOptAI.jl: Embedding Surrogates for Infinite-Dimensional Optimization</div><div class="talk-speaker">Joshua Pulsipher</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">11:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">MathProgIncidence.jl: Graph theoretical tools for inspecting and debugging optimization problems</div><div class="talk-speaker">Robert Parker</div></td>
  <td class="talk-table"><div class="talk-title">Optimization Problem Surrogates with Graph Transformer Networks and integration within simulation workflows</div><div class="talk-speaker">Jose Daniel Lara</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">11:45&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">12:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Why Your Model Works in Test but Fails at 4 AM: Production Lessons from Energy Dispatch</div><div class="talk-speaker">Harley Mackenzie</div></td>
  <td class="talk-table"><div class="talk-title">Toward Extending EAGO.jl for Exploiting GPU Parallelism</div><div class="talk-speaker">Dimitri Alston</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">12:15&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">12:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch (provided on-site)</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch (provided on-site)</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch (provided on-site)</div></td>
</tr>
<tr>
  <td class="talk-table">14:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Antipode JuMPing - How Norwegian authorities use JADE.jl for better decision making</div><div class="talk-speaker">Jarand Hole</div></td>
  <td class="talk-table"><div class="talk-title">Second-Order GPU solver for Burer-Monteiro</div><div class="talk-speaker">Benoît Legat</div></td>
  <td class="talk-table"><div class="talk-title">HiGHS Workshop</div></td>
</tr>
<tr>
  <td class="talk-table">14:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Automatic Decomposition of JuMP Models using TimeStructDecomposition.jl</div><div class="talk-speaker">Truls Flatberg</div></td>
  <td class="talk-table"><div class="talk-title">GraphsOfConvexSets.jl: Optimisation over Graphs of Convex Sets with JuMP</div><div class="talk-speaker">Charles van Hees</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">14:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">PowerModelsADA: A Distributed Optimization Library for Optimal Power Flow</div><div class="talk-speaker">Mohannad Alkhraijah</div></td>
  <td class="talk-table"><div class="talk-title">First-order Convex (mixed-integer) optimization: FrankWolfe.jl and Boscia.jl</div><div class="talk-speaker">Deborah Hendrych</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">14:45&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Decentralized Network Expansion Planning Under Uncertainty Using a Nested Dual Decomposition Technique</div><div class="talk-speaker">Alireza Shefaei</div></td>
  <td class="talk-table"><div class="talk-title">TenSolver.jl: A tensor network based QUBO solver with JuMP integration</div><div class="talk-speaker">Iago Leal de Freitas</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">15:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">An ADMM framework for solving actor‑decomposed energy system models</div><div class="talk-speaker">Stefan Strömer</div></td>
  <td class="talk-table"><div class="talk-title">PEPit.jl: Computer-Assisted Worst-Case Analysis of First-Order Optimization Algorithms in Julia</div><div class="talk-speaker">Shuvomoy Das Gupta</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">15:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Modelling and Solving Mathematical Programs with Complementarity Constraints.</div><div class="talk-speaker">Anton Edvinovich Pozharskiy</div></td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">15:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Afternoon tea</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Afternoon tea</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Afternoon tea</div></td>
</tr>
<tr>
  <td class="talk-table">15:45&nbsp;</td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">16:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Adding array support for JuMP’s Automatic Differentiation</div><div class="talk-speaker">Sophie Lequeu</div></td>
  <td class="talk-table"><div class="talk-title">The 2026 JuMP-dev prize</div><div class="talk-speaker">The JuMP developers</div></td>
  <td class="talk-table"><div class="talk-title">HiGHS Workshop</div></td>
</tr>
<tr>
  <td class="talk-table">16:15&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Can ExaModels Power JuMP on GPUs?</div><div class="talk-speaker">Sungho Shin</div></td>
  <td class="talk-table"><div class="talk-title">JuMP's macros: a comprehensive overview</div><div class="talk-speaker">Oscar Dowson</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">16:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">UnoSolver.jl, a unified SQP/barrier solver for nonlinearly constrained optimization</div><div class="talk-speaker">Charlie Vanaret</div></td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">16:45&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">17:00&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Dinner</div></td>
  <td class="talk-table talk-organization"></td>
  <td class="talk-table talk-organization"></td>
</tr>
</table>&nbsp;
