<table>
<tr>
  <th></th>
  <th><b>Thursday 22 (Foyer du Lac)</b></th>
  <th><b>Thursday 22 (Bruyère)</b></th>
  <th><b>Friday 23 (Foyer du Lac)</b></th>
  <th><b>Friday 23 (Bruyère)</b></th>
</tr>
<tr>
  <td class="talk-table">08:30&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Coffee and registration</div></td>
  <td class="talk-table talk-organization"></td>
  <td class="talk-table talk-organization"></td>
  <td class="talk-table talk-organization"></td>
</tr>
<tr>
  <td class="talk-table">09:30&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Invited talks</div></td>
  <td class="talk-table"></td>
  <td class="talk-table"><div class="talk-title">Invited talks</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">10:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Morning tea</div></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"><div class="talk-title">Morning tea</div></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">11:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Contributed talks</div></td>
  <td class="talk-table"><div class="talk-title">Contributed talks</div></td>
  <td class="talk-table"><div class="talk-title">Contributed talks</div></td>
  <td class="talk-table"><div class="talk-title">Contributed talks</div></td>
</tr>
<tr>
  <td class="talk-table">12:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch</div></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch</div></td>
  <td class="talk-table talk-break"><div class="talk-title">Lunch</div></td>
</tr>
<tr>
  <td class="talk-table">14:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Contributed talks</div></td>
  <td class="talk-table"><div class="talk-title">Contributed talks</div></td>
  <td class="talk-table"><div class="talk-title">Contributed talks</div></td>
  <td class="talk-table"><div class="talk-title">Contributed talks</div></td>
</tr>
<tr>
  <td class="talk-table">15:30&nbsp;</td>
  <td class="talk-table talk-break"><div class="talk-title">Afternoon tea</div></td>
  <td class="talk-table talk-break"></td>
  <td class="talk-table talk-break"><div class="talk-title">Afternoon tea</div></td>
  <td class="talk-table talk-break"></td>
</tr>
<tr>
  <td class="talk-table">16:00&nbsp;</td>
  <td class="talk-table"><div class="talk-title">Invited talks</div></td>
  <td class="talk-table"></td>
  <td class="talk-table"><div class="talk-title">Invited talks</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">16:45&nbsp;</td>
  <td class="talk-table"></td>
  <td class="talk-table"></td>
  <td class="talk-table"><div class="talk-title">Prizegiving</div></td>
  <td class="talk-table"></td>
</tr>
<tr>
  <td class="talk-table">17:00&nbsp;</td>
  <td class="talk-table talk-organization"><div class="talk-title">Dinner</div></td>
  <td class="talk-table talk-organization"></td>
  <td class="talk-table talk-organization"><div class="talk-title">Workshop finishes</div></td>
  <td class="talk-table talk-organization"></td>
</tr>
</table>&nbsp;
