---
title: false
styles: true
---

$julia_blue: #4063D8;
$julia_green: #389826;
$julia_purple: #9558B2;
$julia_red: #CB3C33;

$linkColour: $julia_green;

$colour-notification-banner: #ffc107;

@import "alembic";

.typeset pre {
  line-height: 1rem;
}

// Notification bar
.notification-bar {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .75rem;
  margin-bottom: 1rem;
  background-color: $colour-notification-banner;
  border-bottom: 1px solid darken($colour-notification-banner, 10%);
  p a {
    color: black;
    text-shadow:
      0.1rem 0 $colour-notification-banner,
      0.15rem 0 $colour-notification-banner,
      -0.1rem 0 $colour-notification-banner,
      -0.15rem 0 $colour-notification-banner;
  }
}

// Increase main container width
.container {
  max-width: 1500px;
}

// Decrease font size
:root {
  font-size: 70%; // 0px                    ~ Mobile first
  @include breakpoint(break-1) { // 640px   ~ Small tablet up
    font-size: 70%;
  }
  @include breakpoint(break-2) { // 800px   ~ Large tablet up
    font-size: 80%;
  }
  @include breakpoint(break-3) { // 1024px  ~ Desktop up
    font-size: 90%;
  }
  @include breakpoint(break-4) { // 1600px  ~ Large desktop up
    font-size: 100%;
  }
}
// Over-ride default indentation.
:root {
  p{
    margin-bottom: 0rem;
  }
  ul{
    // TODO(odow): we should reduce the margin-bottom of lists, except this
    // disables the drop-down navigation button on mobile.
    // margin-bottom: 0rem;
    margin-left: 1em;
  }
}

// Only show logo on tablets and larger.
.home-page-logo {
  display: none;
  @include breakpoint(break-2) { // 800px   ~ Large tablet up
    display: inline;
  }
}

// Dropdown nav
.item--parent {
  color: $captionColour;
}

.list--nested {
  border-right: 1px solid $captionColour;
  padding-right: .7rem;
}

@media screen and (min-width: 40em) {
  .header .nav,
  .header .list--nav {
    overflow: visible;
  }

  .item--child {
    margin: 0;
  }

  .item--parent {
    position: relative;
    cursor: pointer;
    color: $linkColour;
    display: inline-flex;
    align-items: center;
    &:hover .list--nested {
      visibility: visible;
      opacity: 1;
    }
    &::after {
      content: "";
      display: block;
      transform: rotate(-45deg);
      width: .3em;
      height: .3em;
      margin: .4em;
      border: 1px solid transparent;
      border-left-color: $captionColour;
      border-bottom-color: $captionColour;
    }
  }

  .list--nested {
    border-right: none;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: max-content;
    background: $backgroundColour;
  }
}


.talk-table {
  padding: 5px;
  vertical-align: top;
}

// .talk-long {
//   vertical-align: top;
//   background-color: #38982633;
// }

.talk-break {
  background-color: #CB3C3333;
}

.talk-organization {
  background-color: #9558B233;
}

.talk-speaker {
  color: $captionColour;
}
