---
layout: default
---

{% if site.notification %}
  <aside class="notification-bar">
    <div class="container typeset">
      {{ site.notification | markdownify }}
    </div>
  </aside>
{% endif %}

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--page  content  typeset">

    <h1>{{ page.title }}</h1>

    {{ content }}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
